.container{
    width: 80%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    border: solid 1px #3f51b5;
}

/* Structure */
.example-container {
    position: relative;
    overflow-y: auto;
    
    height: calc(100vh - (235px));
  
  }
  
  .example-table-container {
    position: relative;
   
    overflow: auto;
    min-height: 100%;  
    height: 100%;
  }
  
  .example-table {
    width: max-content;
    min-width: 100vw;
    
  }
  .example-table td, .example-table th{
    padding: 5px;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  .izoh {
  display: none;
  position: absolute;
  z-index: 99999;
  background-color: white;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  width: 200px;
  opacity: 0;
  left: 52px;
  top: 0;
  padding: 10px;
  transition: opacity 0.5s;
  }
  .nom  {
  
  position: relative;
  
  }
  .nom span{
  cursor: pointer;
  }
  .nom span:hover ~ .izoh {  
  opacity: 1;
  display: inline-block;;
  
  }
  
  
  .mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
  }
  
  .mat-toolbar-single-row button {
    width: 200px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  #uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
  }
  .qator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  box-shadow: 1px 1px 8px 2px gray;
  padding: 5px;
  }
  .qator > app-file-shower{
  flex: 8 1;
  }
  .qator > div{
  flex: 2 1;
  }