<!-- <c-row [gutter]="4" class="mb-3" [md]="3" [xs]="1">
    <c-col *ngFor="let card of cards; index as i;">
      <c-card class="h-100">
        <img cCardImg="top" src="../../.././../assets/img/mans/soliq.jpg">
        <c-card-body>
          <h5 cCardTitle>Tashkilot</h5>
          <p cCardText>
            {{card.body}} <br>
            <b>Telefon: +998998876655'</b>
          

          </p>
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis">So'nggi tashrif {{i+10}} mins avval</small>
        </c-card-footer>
      </c-card>
    </c-col>
  </c-row> -->
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg]src="../../.././../assets/img/mans/soliq.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Davlat soliq qo'mitasi</h5>
        <p cCardText>
          Manzil: Qarshi shahri Xontepa mahalla <br>
          Telefon: +998991234455 <br>
  
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg] src="/assets/img/mans/elekt.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Elektir taminoti</h5>
        <p cCardText>
          Manzil: Qarshi shahri Aral mahalla <br>
          Telefon: +998991234455 <br>
  
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg] src="/assets/img/mans/hududgaz.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Hudud gaz</h5>
        <p cCardText>
          Manzil: Qarshi shahri Xaramjo'y mahalla <br>
          Telefon: +998991234455 <br>
  
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg] src="/assets/img/mans/suv.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Suv taminoti</h5>
        <p cCardText>
          Manzil: Qarshi shahri Gulshan mahalla <br>
          Telefon: +998991234455 <br>
  
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg] src="/assets/img/tarvuz.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Poliz ekinlari rastasi</h5>
        <p cCardText>
          Manzil: Qarshi shahri Navo mahalla <br>
          Telefon: +998991234455 <br>
  
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg] src="/assets/img/barbershop.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Sartaroshxona</h5>
        <p cCardText>
          Manzil: Qarshi shahri Aral mahalla <br>
          Telefon: +998991234455 <br>
  
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>
  <c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
    <c-row class="g-0">
      <c-col [md]="4">
        <img [cCardImg] src="/assets/img/go'sht.jpg">
      </c-col>
      <c-card-body cCol [md]="8">
        <h5 cCardTitle>Go'sht do'kon </h5>
        <p cCardText>
          Manzil: Qarshi shahri Aral mahalla <br>
          Telefon: +998991234455 <br>
        </p>
        <p cCardText>
          <small class="text-medium-emphasis"> </small>
        </p>
      </c-card-body>
    </c-row>
  </c-card>