<c-card-group class="mb-4">
    <c-card>
        <img cCardImg="top" src="../../../../assets/img/mans/rais.jpg">
        <c-card-body>
          <h5 cCardTitle>Mahalla raisi</h5>
          <p cCardText>
            Manzil: Qarshi shahri Aral mahalla <br>
            Telefon: +998991234455 <br>
          </p>
        </c-card-body>
        <c-card-footer>
          <small class="text-medium-emphasis"></small>
        </c-card-footer>
      </c-card> 
 
    <c-card>
    <img cCardImg="top" src="../../../../assets/img/mans/pospon.jpg">
    <c-card-body>
      <h5 cCardTitle>Mahalla pospon</h5>
      <p cCardText>
        Manzil: Qarshi shahri Aral mahalla <br>
        Telefon: +998991234455 <br>
      </p>
    </c-card-body>
    <c-card-footer>
      <small class="text-medium-emphasis"></small>
    </c-card-footer>
  </c-card>
  <c-card>
    <img cCardImg="top" src="../../../../assets/img/mans/xotinqizlar.jpg">
    <c-card-body>
      <h5 cCardTitle>Xotin qizlar</h5>
      <p cCardText>
        Manzil: Qarshi shahri aral mahalla <br>
        Telefon: +998991234455 <br>
      </p>
    </c-card-body>
    <c-card-footer>
      <small class="text-medium-emphasis"></small>
    </c-card-footer>
  </c-card>
  
</c-card-group>
