<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Mazmuni</th>
          <th scope="col">Manzil</th>
          <th scope="col">To'liq</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Yo'l ahvoli yomon</td>
          <td>Qarshi xaramjo'y</td>
          <td  style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Suv kelmaydi</td>
          <td>Qarshi 3-mitti  tuman</td>
          <td style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Yo'l ahvoli yomon</td>
            <td>Qarshi xaramjo'y</td>
            <td  style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
          <tr>
            <th scope="row">4</th>
            <td>Suv kelmaydi</td>
            <td>Qarshi 3-mitti  tuman</td>
            <td  style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
          <tr>
            <th scope="row">5</th>
            <td>Yo'l ahvoli yomon</td>
            <td>Qarshi xaramjo'y</td>
            <td  style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
          <tr>
            <th scope="row">6</th>
            <td>Suv kelmaydi</td>
            <td>Qarshi 3-mitti  tuman</td>
            <td  style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
          <tr>
            <th scope="row">7</th>
            <td>Yo'l ahvoli yomon</td>
            <td>Qarshi xaramjo'y</td>
            <td  style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
          <tr>
            <th scope="row">8</th>
            <td>Suv kelmaydi</td>
            <td>Qarshi 3-mitti  tuman</td>
            <td [routerLink]="" style="cursor: pointer;">Ko'proq malumot...</td>
        </tr>
      </tbody>
  </table>
  

<p>Selected: {{activePage}}</p>