<!-- <mat-toolbar color="primary">
  <span>Davlat Tashkilotlar </span>
 
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of tashkilotlar">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title> Tashkilot</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/tashkilot.jpg">
        <mat-card-content>
          <p>
            Tashkilot Nomi: {{num.name}}</p>
            <p>Telefon: {{num.phone}}</p>
          <p>Manzil: {{num.address}} </p>
          </mat-card-content>
    
      </mat-card>
    </div>
  </div>
  
</div> -->
<h1>Tashkilotlar</h1>
