
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/market.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Do'kon</h5>
      <p cCardText>
        Manzil: Qarshi shahri Xontepa mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/barbershop.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Sartaroshxona</h5>
      <p cCardText>
        Manzil: Qarshi shahri Aral mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/go'sht.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Go'sht do'kon</h5>
      <p cCardText>
        Manzil: Qarshi shahri Xaramjo'y mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/kelajakaqlli.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Issiqxona</h5>
      <p cCardText>
        Manzil: Qarshi shahri Gulshan mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/tarvuz.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Poliz ekinlari rastasi</h5>
      <p cCardText>
        Manzil: Qarshi shahri Navo mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/barbershop.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Sartaroshxona</h5>
      <p cCardText>
        Manzil: Qarshi shahri Aral mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>
<c-card class="mb-3" [ngStyle]="{'max-width.px': 800}">
  <c-row class="g-0">
    <c-col [md]="4">
      <img [cCardImg] src="../../../../assets/img/go'sht.jpg">
    </c-col>
    <c-card-body cCol [md]="8">
      <h5 cCardTitle>Go'sht do'kon </h5>
      <p cCardText>
        Manzil: Qarshi shahri Aral mahalla <br>
        Telefon: +998991234455 <br>

      </p>
      <p cCardText>
        <small class="text-medium-emphasis"> </small>
      </p>
    </c-card-body>
  </c-row>
</c-card>